@model Teste.Web.Models.ClienteModel
@using Teste.Web.Helpers

<div class="modal-header">
    <h5 class="modal-title">Detalhes do Cliente</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-3">Código</dt>
        <dd class="col-sm-9">@Model.Codigo</dd>

        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.Nome</dd>

        <dt class="col-sm-3">Fantasia</dt>
        <dd class="col-sm-9">@Model.Fantasia</dd>

        <dt class="col-sm-3">@(Model.Documento.Length == 11 ? "CPF" : "CNPJ")</dt>
        <dd class="col-sm-9">@Model.Documento.FormatarDocumento()</dd>

        <dt class="col-sm-3">Endereço</dt>
        <dd class="col-sm-9">@Model.Endereco</dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
</diusing Teste.Web.Helpers;
#line default
